# git ignore file so these files aren't pushed to github
# for more info:
# https://git-scm.com/book/en/Git-Basics-Recording-Changes-to-the-Repository#_ignoring

.env/
env/

venv/
config.py
.DS_Store
.cache
__pycache__/weather.cpython-311.pyc
.env
weatherOLD.py
